"""
{{package_path}}/actions.py

Action handlers for {{package}} project.

This is where you set the interactions between tags. on_change's,
workers and other functions belong here.
"""
from ethernetip_emulator.server.device import AttributeDevice, actions

